@import "../../../../styles/variables";
@import "../../../../styles/elements";
@import "../../../../styles/queries";

::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

.dialog {
  padding: 50px 25px;
  &--close {
    height: 0.8em;
    position: relative;
    top: -25px;
    float: right;
    cursor: pointer;
  }

  .weather {
    margin-bottom: 20px;
    cursor: pointer;
    @include desktop {
      min-width: 350px;
      margin-right: 30px;
    }
    .weather__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      .weather__location {
        font-size: $title;
        margin: 20px 0;
      }

      .weather__temperature {
        display: flex;
        width: 175px;
        font-size: $title;

        .weather__icon {
          height: 2.5em;
          margin-top: -15px;
        }

        .weather__unit-icon {
          height: 1em;
          margin-top: 2px;
        }

        h2 {
          margin: 0 10px 0 5px;
          font-size: $title;
        }
      }
    }

    .weather__type {
      text-align: center;
      margin: 0;
      font-size: $sub-title;
      font-weight: 300;
    }

    .weather__date {
      text-align: right;
    }

    .weather__content {
      display: flex;
      justify-content: center;
      .weather__parameters {
        list-style: none;
        list-style-position: inside;
        font-size: $sub-title;

        li {
          margin: 5px;
        }

        li::before {
          content: "•";
          font-size: $title;
          line-height: 0;
          margin: 0 0.5rem 0 -0.25rem;
          position: relative;
          top: 0.3rem;
          color: $color-byzantine-night-blue;
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}
