<div class="dialog">
  <img
    mat-dialog-close
    class="dialog--close"
    src="./assets/images/close.png"
    alt="finger image"
  />

  <div class="weather">
    <div class="weather__title">
      <h2 class="weather__location" mat-dialog-title>
        Weather in {{weatherDetails.name}}, {{weatherDetails.country}}
      </h2>
      <div class="weather__temperature">
        <img
          class="weather__icon"
          src="{{ weatherDetails.weather | weatherIconUrl }}"
          alt="weather image"
        />
        <h2 mat-dialog-title>{{ weatherDetails.temp | temperature }}</h2>
        <img
          class="weather__unit-icon"
          src="./assets/images/degree.png"
          alt="unit image"
        />
      </div>
    </div>

    <ng-container *ngFor="let weather of weatherDetails.weather">
      <h3 class="weather__type">
        {{ weather.description }}
      </h3>
    </ng-container>

    <div class="weather__content" mat-dialog-content>
      <ul class="weather__parameters">
        <li>
          Wind
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{weatherDetails.wind.speed}}&nbsp;m/s,&nbsp;
          {{weatherDetails.wind.deg}}
        </li>
        <li>
          Humidity
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{weatherDetails.humidity}}&nbsp;%
        </li>
        <li>
          Pressure
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{weatherDetails.pressure}}&nbsp;hpa
        </li>
        <li>
          Sunrise
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{weatherDetails.sunrise
          | date:'HH:mm'}}
        </li>
        <li>
          Sunset
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{weatherDetails.sunset|
          date:'HH:mm'}}
        </li>
      </ul>
    </div>
  </div>

  <div class="dialog__actions" mat-dialog-actions>
    <button
      class="button-success"
      *ngIf="dialogType === 'add'"
      mat-flat-button
      (click)="closeDialog()"
    >
      Add
    </button>
    <button
      class="button-danger"
      *ngIf="dialogType === 'remove'"
      mat-flat-button
      color="primary"
      (click)="closeDialog()"
    >
      Remove
    </button>
  </div>
</div>
