$color-white: #fff;
$color-gray: gray;
$color-byzantine-night-blue: #5f76f6;
$color-white-smoke: whitesmoke;
$color-chi-gong: #d1302c;

$heading: 3em;
$title: 1.563em;
$sub-title: 1.25em;
$font-size-primary: 1em;
$font-size-secondary: 0.8rem;
