@import "../styles/variables";
@import "../styles/elements";
@import "../styles/queries";

.container {
  /* fallback for old browsers */
  min-height: 100%;
  background: #00f260;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #00f260, #0575e6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #00f260 #0575e6);

  .header {
    padding: 1.25em 1em;
    display: flex;
    justify-content: space-between;

    @include desktop {
      padding: 2em 3em;
    }

    &__logo {
      font-weight: 900;
      color: $color-white;
      font-size: 1.5em;
      letter-spacing: 1px;
    }

    .search-card {
      height: 2.1875em;
      max-width: 350px;
      background: $color-white;
      border-radius: 0.3125em;
      padding: 0px;

      @include desktop {
        width: 18.75em;
      }

      &__input {
        bottom: 0.625em;
        left: 1em;
        width: 80%;
        ::ng-deep .mat-form-field-underline {
          display: none;
        }
      }

      &__logo {
        height: 1em;
        position: relative;
        right: -0.8em;

        @include desktop {
          right: -1.25em;
        }
      }
    }
  }

  .weather-section {
    padding: 1em;
    color: $color-white;

    .info {
      &__title {
        font-weight: 100;
        font-size: 3em;
      }

      &__description {
        font-size: 1.5em;
        font-weight: 100;
      }

      @include desktop {
        padding: 3em;

        &__info {
          margin: 5em;
        }

        &__title {
          font-size: 4em;
        }

        &__description {
          font-size: 1.3em;
          width: 60%;
          font-weight: 300;
        }
      }

      &__logo {
        height: 1em;
      }
    }

    &__list {
      .list-card {
        margin-bottom: 20px;
        .title {
          display: flex;
          flex-direction: column;
          align-items: center;
          &__location {
            font-size: 26px;
            margin: 20px 0;
          }

          &__temperature {
            font-size: 25px;
            margin: 0 0 20px;
          }
        }

        &__weather-type {
          text-align: center;
          margin: 0;
          font-weight: 300;
        }

        &__date {
          text-align: right;
        }
      }
    }
  }
}
