.container{
    height: 100%;
    background: #00F260;  /* fallback for old browsers */
    background: linear-gradient(to right, #00F260,#0575E6,); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: -webkit-linear-gradient(to right,#00F260 #0575E6 );  /* Chrome 10-25, Safari 5.1-6 */

.header{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
}