<div class="container">
  <header class="header">
    <div class="header__logo">
      WEATHER
    </div>

    <mat-card class="search-card header__search-card">
      <mat-form-field class="search-card__input">
        <input matInput />
        <span matSuffix>
          <img
            class="search-card__logo"
            src="./assets/images/search.png"
            alt="search logo"
          />
        </span>
      </mat-form-field>
    </mat-card>
  </header>
  <section class="weather-section">
    <div class="weather-section__info">
      <h1 class="weather-section__title">
        Type the city name
        <img
          class="weather-section__logo"
          src="./assets/images/finger.png"
          alt="finger image"
        />
        to search
      </h1>
      <h4 class="weather-section__description">
        Weather is the state of the atmosphere, describing for example the
        degree to which it is hot or cold, wet or dry, calm or stormy, clear or
        cloudy
      </h4>
    </div>
  </section>
</div>
