@import "../styles/variables";
@import "../styles/elements";

.container {
  /* fallback for old browsers */
  height: 100%;
  background: #00f260;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #00f260, #0575e6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #00f260 #0575e6);

  .header {
    padding: 1.5625em;
    display: flex;
    justify-content: space-between;

    &__logo {
      font-weight: 900;
      color: snow;
      font-size: 1.5em;
      letter-spacing: 1px;
    }

    &__search {
      height: 2.1875em;
      max-width: 350px;
      background: $color-white;
      border-radius: 0.3125em;
      padding: 0px;

      .header__input {
        bottom: 10px;
        left: 15px;
        width: 90%;
        ::ng-deep .mat-form-field-underline {
          display: none;
        }
      }
    }
  }
}
