<div class="container">
  <header class="header">
    <div class="header__logo">
      WEATHER
    </div>

    <mat-card class="search-card header__search-card">
      <mat-form-field class="search-card__input">
        <input
          matInput
          (keyup.enter)="fetchWeatherDetailsByCity()"
          [formControl]="searchInput"
        />
        <span matSuffix (click)="fetchWeatherDetailsByCity()">
          <img
            class="search-card__logo"
            src="./assets/images/search.png"
            alt="search logo"
          />
        </span>
      </mat-form-field>
    </mat-card>
  </header>
  <section class="weather-section">
    <div class="info weather-section__info" *ngIf="!citiesWeather.size">
      <h1 class="info__title">
        Type the city
        <img
          *ngIf="isHandset"
          class="info__logo"
          src="./assets/images/finger.png"
          alt="finger image"
        />
        name
        <img
          *ngIf="!isHandset"
          class="info__logo"
          src="./assets/images/finger.png"
          alt="finger image"
        />
        to search
      </h1>
      <h4 class="info__description">
        Weather is the state of the atmosphere, describing for example the
        degree to which it is hot or cold, wet or dry, calm or stormy, clear or
        cloudy
      </h4>
    </div>
    <div class="weather-section__list">
      <ng-container *ngFor="let city of citiesWeather | keyvalue">
        <mat-card class="weather" (click)="cityWeatherDetails(city.value)">
          <div class="weather__title">
            <h2 class="weather__location" mat-dialog-title>
              Weather in {{ city.value.name }}, {{ city.value.country }}
            </h2>
            <div class="weather__temperature">
              <img
                class="weather__icon"
                src="{{ city.value.weather | weatherIconUrl }}"
                alt="weather image"
              />
              <h2 mat-dialog-title>{{ city.value.temp | temperature }}</h2>
              <img
                class="weather__unit-icon"
                src="./assets/images/degree.png"
                alt="unit image"
              />
            </div>
          </div>
          <h3 class="weather__type">
            {{ city.value.weather[0].description }}
          </h3>
          <p class="weather__date">{{ city.value.dt | date }}</p>
        </mat-card>
      </ng-container>
    </div>
  </section>
</div>
