<div class="container">
  <header class="header">
    <div class="header__logo">
      WEATHER
    </div>

    <mat-card class="search-card header__search-card">
      <mat-form-field class="search-card__input">
        <input matInput [formControl]="searchInput" />
        <span matSuffix (click)="fetchWeatherDetailsByCity()">
          <img
            class="search-card__logo"
            src="./assets/images/search.png"
            alt="search logo"
          />
        </span>
      </mat-form-field>
    </mat-card>
  </header>
  <section class="weather-section">
    <div class="info weather-section__info" *ngIf="!citiesWeather.size">
      <h1 class="info__title">
        Type the city name
        <img
          class="info__logo"
          src="./assets/images/finger.png"
          alt="finger image"
        />
        to search
      </h1>
      <h4 class="info__description">
        Weather is the state of the atmosphere, describing for example the
        degree to which it is hot or cold, wet or dry, calm or stormy, clear or
        cloudy
      </h4>
    </div>
    <div class="weather-section__list">
      <ng-container *ngFor="let city of citiesWeather | keyvalue">
        <mat-card class="list-card weather-section__list-card">
          <div class="title list-card__title">
            <h2 class="title__location" mat-dialog-title>
              Weather in {{ city.value.name }}, {{ city.value.country }}
            </h2>
            <div class="title__temperature">
              <img
                class="info__logo"
                src="{{ city.value.weather[0] | weatherIconUrl }}"
                alt="finger image"
              />
              <h2 mat-dialog-title>{{ city.value.temp | temperature }}</h2>
              <span>C</span>
            </div>
          </div>
          <h3 class="list-card__weather-type">
            {{ city.value.weather[0].description }}
          </h3>
          <p class="list-card__date">{{ city.value.dt | date }}</p>
        </mat-card>
      </ng-container>
    </div>
  </section>
</div>
