::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

.dialog {
  padding: 24px;
  &--close {
    height: 0.8em;
    position: relative;
    left: 1px;
    top: -5px;
    float: right;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__temperature {
      margin: 0;
    }
  }

  &__weather-type {
    text-align: center;
    font-weight: 300;
  }

  .content {
    &__parameters {
      list-style: none;
      list-style-position: inside;
      font-size: 1.25em;

      li {
        margin: 5px;
      }

      li::before {
        content: "•";
        font-size: 1.5em;
        line-height: 0;
        margin: 0 0.5rem 0 -0.25rem;
        position: relative;
        top: 0.3rem;
        color: red;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}
